body{
  background-color: #000;
  background-image: url("../img/contact-us.jpg");
  background-size: cover;
  background-repeat:no-repeat;
  background-color: #58ADD8FF;
  background-blend-mode: lighten;
}

.container {
  height: 86vh;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

#formulaire{
  padding:15px 15px;
  margin-top:10vh;
  background: rgba(0,0,0,0.5);	
  color:#fff;
}

p{
  padding: 25px 0 15px 0;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.col-md-6, .col-sm-6, .col-sm-12{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media screen and (min-width:992px) {
  .col-md-6 {
    float: left;
    width: 50%;
  }
}

@media screen and (min-width:768px) {
  .col-sm-6, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  } 
  .col-sm-6 {
    width: 40%;
  }
  .form-infos {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
}


textarea {
  margin: 0;
  width: 80%;
}


.form-infos {
  margin-bottom: 15px;
}

textarea.form-control {
  height: auto;
}

.form-control {
  display: block;
  /* padding: 6px 12px; */
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#submit{
  cursor: pointer;
  float: right;
  padding: 6px 12px;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 4px;
}