@font-face{
    font-family: 'Roboto';
    src: url(../font/Roboto/Roboto-Regular.ttf);
  }

#barreNav{
    position: fixed;
    z-index: 5;
}

#clip{
    display: flex;
    background-color: #58ADD8FF;
    clip-path: polygon(0 0, 50% 0, 100% 50%, 100% 100%, 40% 100%, 0 40%);
    height: 94vh;
}

#container{
    width: 30%;
    height: 50%;
    background-color: white;
    clip-path: polygon(0 0, 50% 0, 100% 35%, 100% 100%, 40% 100%, 0 65%);
    margin: auto;
}

p{
    width: 60%;
    margin-left: 40%;
    text-align: justify;
    padding-right: 10px;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
}

p::first-letter{
    font-size: 1.5rem;
    padding-left: 35px;
}

img{
    padding: 25px;
}
