* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 15pt;
}

header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #E85546FF;
    justify-content: space-between;
    padding: 10px 20px;
    text-transform: uppercase;
    position: fixed;
    z-index: 1;
}

header h1 {
    display: flex;
    width: 300px;
    color: white;
    font-size: 1.5rem;
    align-items: center;
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

a,
.search{
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
    padding: 0px 20px;
    align-content: center;  
}

nav a:hover {
    text-decoration: underline;
}

form{
    width: 150px;
    display: flex;
    align-items: center;
}

.search {
    color: black;
    width: 100%;
    height: 26px;
    background-color: #EFEFEFFF;
    border: none; 
}

.fa-search:hover{
    cursor: pointer;
}

.fa-search:before {
    content: '\f002';
}