header#barreNav{
    position: relative;
    z-index: 5;
}

#container{
    background-color: black;
    width: 100%;
    color: ivory;
}

h2{
    text-align: center;
}

#sommaire ul{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    list-style: none;
}

#container span{
    text-decoration: underline;
}

li a {
    color: ivory;
}

/*-------------------------------------------------menu "deroulant"---------------------------------------------------*/

#sommaire{
    position: relative;
    background-color: black;
    margin:0px auto;
    padding-top: 20px;
    width: 200px;  /* j'ai mis une taille de 200 pour pas que l'on puisse cliquer sur toute la longueur mais seulement sur sommaire*/
    height: 58px;
    overflow: hidden;
}
#sommaire:hover{
    animation-name: sommaire;
    animation-duration: 3s; 
    animation-fill-mode: forwards;
    height: 150px;
}

@keyframes sommaire{
    0%{
        width: 200px;
        height: 58px;
    }
    5%{
        width: 100vw;
        height: 58px;
    }
    100%{
        width: 100vw;
        height: 150px;
    }
}

