@font-face{
    font-family: "h2";
    src: url(../font/Dosis-VariableFont_wght.ttf);
}

h2{
    padding-top: 10px;
    padding-left: 15px;
    /* Les padding top et left servent a laisser de l'espace entre le titre h2 et le <hr> pour le top et la marge gauche de l'écran pour le left */
    font-family: "h2", Verdana, sans-serif;
}

footer{
    text-align: right;  
}

footer a{
    font-size: 0.9rem;
    margin-right: 15px;
    color: black;
}

#exo5a{
    padding-top: 105px; /* J'ai du mettre un grand padding top sinon le header cachait les carrés relatifs */
}

.first5{
    position: relative;
    border: 2px solid black;
    width: 40vw;
    height: 40vw;
    margin: 50px auto;
    padding: 1.5vw;
    background-color: #ADD8E6;
}


/* exercice 5a relative */
.nopa{
    position: relative;
    border: 2px solid black;
    width: 15.5vw;
    height: 15.5vw;
    margin: 1.5vw;
}

.second5{
    background-color: green;
}

.third5{
    left: 18.5vw;
    top: -17vw;
    background-color: blue;
}

.fourth5{
    top: -15.5vw;
    background-color: orangered;
}

.fifth5{
    left: 18.5vw;
    top: -32.5vw;
    background-color: yellow;
}


/* exercice 5b absolute */
.nopb{
    border: 2px solid black;
    position: absolute;
    width: 15.5vw;
    height: 15.5vw;
    margin: 1.5vw;
}

#second5b{
    /* J'aurai pu ne pas mettre de css pour cet id car il prend deja la position de la classe second5 mais je l'ai ajouté pour être cohérent par rapport à l'exercice*/
    top: 1.5vw;
    left: 1.5vw;
    background-color:green;
}

#third5b{
    top: 1.5vw;
    left: 20vw;
    background-color: blue;
}

#fourth5b{
    top: 20vw;
    left: 1.5vw;
    background-color:orangered;
}

#fifth5b{
    top: 20vw;
    left: 20vw;
    background-color:yellow;
}

/* exercice 6 superposés */
/* J'ai choisi de le faire en absolute donc j'ai laissé la class nopb dans l'html*/
#second6{
    /* J'aurai pu ne pas mettre de css pour cet id car il prend deja la position de la classe second5 mais je l'ai ajouté pour être cohérent par rapport à l'exercice*/
    top: 1.5vw;
    left: 1.5vw;
    background-color:green;
}

#third6{
    top: 4.5vw;
    left: 4.5vw;
    background-color:#0000FFB9;
    z-index: 2;
}

#fourth6{
    top: 17vw;
    left: 17vw;
    background-color:orangered;
    z-index: 1;
}

#fifth6{
    top: 20vw;
    left: 20vw;
    background-color:yellow;
}